.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hero-header-logo{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        display: flex;
        margin-right: auto;
        align-items: center;
        text-align: left;
    }
    .header-right{
        display: flex;
       flex-direction: column;
       align-items: flex-end;
       margin-top: 2rem;
       gap: 1rem;
       font-size: large;
       font-family: 'Lato', sans-serif;
       .header-right .menu{
        font-family: 'Bebas Neue', sans-serif;
        list-style: none;
        display: flex;
        font-size: 1.3rem;
        gap: 1rem;
        letter-spacing: 1.5px;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }
    }
}
.nav-item:hover {
    background-color: lightblue;
}
