.main-logo {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    padding-top: 2rem;
    background-color: transparent;
    align-items: center;
    font-size: x-large;
}
.video-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagenbannerquilmes{
    display: block;
    margin: 0 auto;
}
.main-mision{
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 4rem;
}
.marcas-text{
    align-items: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.5rem;
}

.marcas-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    .marcas-logo img {
        max-width: 150px;
    }
}

.main-form {
    font-family: sans-serif;
    gap: 2rem;
    .title-form{
        font-family: 'Bebas Neue', sans-serif;
        font-size: xx-large;
        margin-bottom: 2rem;
        text-align: center;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 8px;
    }
    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
    button {
        background-color: $colorboton;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #25d366;
        } 
    }
}

.title-quienes{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: xx-large;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.text-quienes{
    text-align: center;
    font-family: 'Lato';
    font-size: large;

}
.text-quienes img{
    margin-top: 2rem;
}

.whatsapp-button {
    background-color: $colorboton; 
    color: #fff;
    padding: 30px; 
    border-radius: 15px; 
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: xx-large;
}
.whatsapp-button a {
    color: #fff;
    text-decoration: none;
}
.whatsapp-button img {
    width: 100px;
    margin-right: 10px;
}

.acceso-cluster-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    .acceso-cluster{
        display: flex;
    }
}
.map-container{
    margin-top: 1rem;
}

.marcas-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

  